<!DOCTYPE html>
<html>
    <head>
        <title>User-Signup</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>Signup</h1>
        <form action="/" method="POST" >
            <label>Username
                <input type="text" name="username" value="{{ username }}" /> <p class="error"> {{ error1 }}</p>
            </label>
            <br>
            <br>
            <label>Password
                <input type="password" name="password" /> <p class="error"> {{ error2 }}</p>
            </label>
            <br>
            <br>
            <label>Verify Password
                <input type="password" name="verify-password" /> <p class="error"> {{ error3 }}</p>
            </label>
            <br>
            <br>
            <label>Email (optional)
                <input type="text" name="email" /> <p class="error" value="{{ email }}" > {{ error4 }}</p>
            </label>
            <br>
            <br>
            <input type="submit" value="Sumbit Query" /> 
        </form>
     </body>
</html>